/* Lisää tyylit tämän viikon tehtävien mukaisesti. */
:root {
    --main-bg: #000000;
    --highlight: rgb(238, 36, 0);
    --link-color: rgb(255, 255, 255);
    --text-color: rgba(255, 255, 255, 0.548);
}

.container { 
    max-width: 65ch;
    margin-inline: auto;
    padding: 1rem;
    font-size: 1rem;
    font-family: monospace;
}

.box {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: var(--highlight);
}

.title {
    color: red
}

.title.strong {
    color: blue;
}

.image {
    margin-inline: auto;
    padding: 10px;
    line-height: 1.2;
}

body {
    background-color: var(--main-bg);
    line-height: 1.8;
}

h1 {
    color: var(--highlight);
}

a {
    color: var(--link-color);
}

p {
    color: var(--highlight);
}

label {
    color: var(--link-color);
}


